

body {
  height: 100%;
  padding: 10px;
  background-color: #9e866a;
}

.chess-board {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  width: 600px;
  height: 500px;
  padding-top: 15px;
  padding-bottom: 16px;
  border-radius: 25px;
  zoom: 135%;
}

.rotated {
  transform: rotate(180deg);
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 80px;
  cursor: pointer;
  border-radius: 2px;
}


.game-over-message {
  color: white;
}

.promotion-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
}

.promotion-dialog img {
  height: 70px;
  cursor: pointer;
}

.close-promotion-dialog {
  font-size: 45px;
  cursor: pointer;
  color: white;
}

.dark {
  background-color: #869AA5;
}

.light {
  background-color: #f1f6f8;
}

.piece {
  width: 73px;
}

.selected-square {
  box-shadow: inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.safe-square {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #000000;
  border-radius: 50%;
  z-index: 100;
  opacity: 0.5;
}

.move-indicator {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 255, 0, 0.5);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.king-in-check {
  box-shadow: inset rgb(179, 21, 0) 0px 0px 40px 0px, inset rgb(163, 11, 0) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.last-move {
  box-shadow: inset rgb(6, 179, 0) 0px 0px 40px 0px, inset rgb(6, 179, 0)0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.promotion-square {
  box-shadow: inset rgb(0, 98, 150) 0px 0px 40px 0px, inset rgb(0, 98, 150) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.castle {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #e91e1e;
  border-radius: 50%;
  z-index: 100;
}
