body {
  background: url('./assets/bg.png') no-repeat center center fixed;
  background-color: #0C0C0C;
  background-size: cover; /* This will ensure the background image covers the entire viewport */
  height: 100vh; /* Set the body's height to be 100% of the viewport height */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default padding */
}

.chess-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-and-move-list {
  display: flex;
  align-items: flex-start;
}

.chess-board {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  width: 600px;
  height: 500px;
  padding-top: 40px;
  padding-bottom: 16px;
  border-radius: 25px;
  zoom: 135%;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 80px;
  cursor: pointer;
  border-radius: 2px;
}

.game-over-message {
  color: white;
}

.promotion-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
}

.promotion-dialog img {
  height: 70px;
  cursor: pointer;
}

.close-promotion-dialog {
  font-size: 45px;
  cursor: pointer;
  color: white;
}

.dark {
  background-color: #869AA5;
}

.light {
  background-color: #f1f6f8;
}

.piece {
  width: 73px;
}

.selected-square {
  box-shadow: inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.move-list {
  margin-left: 20px;
  width: 300px;
  height: 705px;
  max-height: 705px;
  border: 2px solid #0c0c0c;
  border-radius: 9px;
  margin-top: 30px;
  padding: 10px;
  background-color: rgb(61, 43, 25);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-y: auto;
  box-sizing: border-box;
  bottom: 0;
}


.move-list h2 {
  text-align: center;
  position: sticky;
  top: 0;
}

.move-list li {
  font-size: 20px;
}

.safe-square {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #000000;
  border-radius: 50%;
  z-index: 100;
  opacity: 0.5;
}

.move-indicator {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 255, 0, 0.5);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.king-in-check {
  box-shadow: inset rgb(179, 21, 0) 0px 0px 40px 0px, inset rgb(163, 11, 0) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.last-move {
  box-shadow: inset rgb(6, 179, 0) 0px 0px 40px 0px, inset rgb(6, 179, 0)0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.promotion-square {
  box-shadow: inset rgb(0, 98, 150) 0px 0px 40px 0px, inset rgb(0, 98, 150) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px;
}

.castle {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #e91e1e;
  border-radius: 50%;
  z-index: 100;
}

.access {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;
  padding: 2px;
  margin-right: 335px;
}

.turn {
  position: fixed;
  left: 12.5em;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
  margin-left: 450px;
  display: flex;
  justify-content: center;
  width: 350px;
  gap: 10px;
  height: 60px;
  margin-top: 20px;
}


.game-over-prompt {
  position: absolute;
  top: 44%;
  left: 42%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: auto;
  max-width: 320px;
  border-width: 1px;
  border-color: rgba(219, 234, 254, 1);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  z-index: 1;
}

.game-over-prompt h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.game-over-prompt button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.game-over-prompt button:hover {
  background-color: #0056b3;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 400px;
  max-width: 320px;
  border-width: 1px;
  border-color: rgba(219, 234, 254, 1);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  z-index: 1;
}

.alert {
  font-weight: 600;
  color: rgba(107, 114, 128, 1);
  text-align: center;
}

.actions {
  margin-top: 1.5rem;
  width: 17em;
  align-content: center;
}

.actions a {
  text-decoration: none;
}

.mark-as-read, .read {
  display: inline-block;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.read {
  background-color: rgba(59, 130, 246, 1);
  color: rgba(255, 255, 255, 1);
}

.mark-as-read {
  margin-top: 0.5rem;
  background-color: rgba(249, 250, 251, 1);
  color: rgba(107, 114, 128, 1);
  transition: all .15s ease;
}

.mark-as-read:hover {
  background-color: rgb(230, 231, 233);
}